body {
  margin: 0;
  background-color: lightslategray;
  height: 100vh;
}

.title {
  margin: 5% 0 0 0;
  text-align: center;
  color: azure;
}

.warning {
  margin: 20% 0 0 0;
  text-align: center;
  color: darkred;
}