/* page layou */
body {
  background-color: lightslategray;
}

.title {
  text-align: center;
  color: azure;
}

.warning {
  margin-top: 20%;
  text-align: center;
  color: darkred;
}


/* canvas */
.game-canvas {
  border: 2px solid black;
  width: 500px;
  height: 400px;
  margin: auto;
}